/********** 
  8. About Page and Section Styles
**********/
.about-hero-two {
  padding: $base-padding * 9 0 $base-padding * 3;
  background: $color-secondary-dark;
  overflow: hidden;

  @include media-breakpoint-down-xxl {
    padding: $base-padding * 10 0 $base-padding * 11;
  }

  @include media-breakpoint-down-xl {
    padding: $base-padding * 10 0 $base-padding * 48;
    text-align: center;
  }

  @include media-breakpoint-down-md {
    padding: $base-padding * 10 0 $base-padding * 38;
  }

  @include media-breakpoint-down-sm {
    padding: $base-padding * 8.5 0 $base-padding * 33;
  }

  &-content {
    padding: $base-padding * 6 0 $base-padding * 4.1;

    @include media-breakpoint-down-xxl {
      padding: $base-padding * 3 0 $base-padding * 4.1;
    }

    @include media-breakpoint-down-lg {
      padding: $base-padding * 0 0 $base-padding * 0;
    }

    h2 {
      position: relative;
      font-size: $base-font-size * 4;
      line-height: 81.25px;
      letter-spacing: -0.4px;
      margin-bottom: $base-margin * 1.5;

      @include media-breakpoint-down-xxl {
        font-size: $base-font-size * 3.4;
        line-height: 60.25px;
      }

      @include media-breakpoint-down-xl {
        font-size: $base-font-size * 3.5;
        line-height: 70.25px;
      }

      @include media-breakpoint-down-md {
        font-size: $base-font-size * 3;
        line-height: 60px;
      }

      @include media-breakpoint-down-sm {
        font-size: $base-font-size * 2.5;
        line-height: 50px;
      }
    }

    p {
      font-size: $base-font-size * 1.4;
      color: $color-text-light;
      font-weight: $medium-font-weight;
      line-height: 36.3px;
      letter-spacing: -0.4px;
      margin-bottom: $base-margin * 9;

      @include media-breakpoint-down-xxl {
        margin-bottom: $base-margin * 5;
      }

      @include media-breakpoint-down-xl {
        margin: 0 auto $base-margin * 2.5;
        width: 80%;
      }

      @include media-breakpoint-down-xl {
        width: 100%;
      }
    }

    .scroll-down {
      margin-bottom: $base-margin * 3.5;

      @include media-breakpoint-down-xl {
        margin-bottom: $base-margin * 0;
      }

      @include media-breakpoint-down-lg {
        margin-bottom: $base-margin * 3;
      }

      a {
        font-size: 20px;
        font-family: $font-secondary;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &-banner {
    position: relative;
    width: 100%;
    height: 100%;

    .image-one,
    .image-two,
    .image-three {
      position: absolute;
      border-radius: 20px;
      top: 0%;
      z-index: 1;

      img {
        max-width: 100%;
        border-radius: 20px;
      }

      &::after {
        position: absolute;
        content: "";
        background: $color-primary;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        top: 0;
        left: 0;
        opacity: 0.2;
      }
    }

    .image-one {
      right: 0%;
      width: 60%;

      @include media-breakpoint-down-xl {
        right: 15%;
        width: 40%;
      }

      @include media-breakpoint-down-lg {
        right: 0%;
        width: 60%;
      }
    }

    .image-two {
      left: 15%;
      top: 286px;
      width: 60%;

      @include media-breakpoint-down-xxl {
        left: 0%;
      }

      @include media-breakpoint-down-xl {
        left: 15%;
        width: 40%;
      }

      @include media-breakpoint-down-lg {
        left: 10%;
        width: 60%;
      }

      @include media-breakpoint-down-md {
        top: 215px;
      }

      @include media-breakpoint-down-sm {
        top: 166px;
      }
    }

    .image-three {
      left: 8%;
      top: 30px;
      width: 30%;

      @include media-breakpoint-down-xxl {
        left: 0%;
      }

      @include media-breakpoint-down-xl {
        left: 20%;
        width: 20%;
      }

      @include media-breakpoint-down-lg {
        left: 0%;
        width: 30%;
      }
    }

    .pattern {
      -webkit-mask-image: url(/images/about/patterns-two.png);
      mask-image: url(/images/about/patterns-two.png);
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: contain;
      -webkit-mask-size: contain;
      background: $color-background-effects;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -20px;

      @include media-breakpoint-down-xxl {
        left: -100px;
        width: 120%;
        height: 120%;
      }

      @include media-breakpoint-down-xl {
        left: 0px;
        width: 85%;
        height: 50rem;
      }

      @include media-breakpoint-down-sm {
        width: 100%;
        height: 33rem;
      }
    }
  }
}