/********** 
 16. Blog Page and Section Styles
**********/
.blog {
   margin-top: -$base-margin * 22;

   @include media-breakpoint-down-xxl {
      margin-top: -$base-margin * 19.5;
   }

   @include media-breakpoint-down-xl {
      margin-top: -$base-margin * 10.5;
   }

   @include media-breakpoint-down-sm {
      margin-top: -$base-margin * 11;
   }

   // start block hero section
   &-hero {
      background: $color-header-light;
      text-align: center;

      h1 {
         margin-bottom: $base-margin * 1.5;

         @include media-breakpoint-down-lg {
            font-size: $base-font-size * 3.5;
         }

         @include media-breakpoint-down-md {
            font-size: $base-font-size * 2.9;
            line-height: 60px;
         }

         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 2.5;
            line-height: 50px;
         }
      }

      p {
         font-size: $base-font-size * 1.4;
         line-height: 36.3px;
         font-weight: 500;

         @include media-breakpoint-down-sm {
            font-size: $base-font-size * 1.25;
         }
      }
   }

   .section-header {
      @include media-breakpoint-down-md {
         padding: $base-padding * 4 0 $base-padding * 4.1;
      }
   }

   // start block section
   &-post {
      position: relative;
      margin-bottom: $base-margin * 3.2;

      &-thumb {
         border-radius: 20px;
         margin-bottom: $base-margin * 1.9;
         overflow: hidden;

         img {
            transform: scale(1) rotate(0deg);
            border-radius: 20px;
            width: 100%;
            transition: 0.5s ease-in-out;
         }

         :hover {
            transform: scale(1.02);
         }
      }

      &-tag {
         a {
            background: $color-secondary-light;
            border-radius: 6px;
            padding: 4px 10px;
            text-decoration: none;
            font-size: 12px;
            color: $color-primary;
            font-weight: 500;
            margin-bottom: $base-margin * 0.9;
            margin-right: $base-margin * 0.3;
            font-family: $font-primary;
         }
      }

      &-title {
         a {
            color: $color-text;
            font-size: 26px;
            font-family: $font-primary;
            font-weight: 600;
            line-height: 32.5px;
            text-decoration: none;
            margin-bottom: $base-margin * 1.1;
            display: block;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-down-xl {
               font-size: 22px;
            }

            @include media-breakpoint-down-md {
               font-size: 26px;
            }

            &:hover {
               color: $color-primary;
            }
         }
      }

      &-meta {
         ul {
            padding: 0;
            margin-left: $base-margin * 1;
            display: flex;
            list-style: none;

            li {
               font-size: 13px;
               position: relative;
               color: $color-text-light;
               font-weight: 300;

               &:last-child {
                  padding-left: $base-padding * 0.5;
                  margin-left: $base-margin * 1.5;
               }

               &::after {
                  position: absolute;
                  content: '';
                  background: $color-text-light;
                  border-radius: 50%;
                  width: 5px;
                  height: 5px;
                  top: 50%;
                  left: -7%;
                  transform: translate(-50%, -50%);
               }
            }
         }
      }
   }

   .more-blogs {
      a {
         font-weight: 700;
      }
   }

   // start block two section
   &-two {
      // padding-bottom: $base-padding * 12.5;
      margin-top: 0;

      .section-header {
         padding-bottom: $base-padding * 1;

         p {
            width: 72%;
            margin: 0 auto;
         }
      }
   }

   // start block details section
   &-details {
      position: relative;
      padding: $base-padding * 14.4 0 $base-padding * 4.4;

      @include media-breakpoint-down-xxl {
         padding: $base-padding * 12 0 $base-padding * 4.4;
      }

      @include media-breakpoint-down-xl {
         padding: $base-padding * 10 0 $base-padding * 2;
      }

      @include media-breakpoint-down-sm {
         padding: $base-padding * 8.5 0 $base-padding * 2;
      }

      article {
         position: relative;

         .inner-blog-details {
            @include media-breakpoint-down-sm {
               text-align: center;
               margin-bottom: $base-margin * 3.1;
            }

            h2 {
               font-size: $base-font-size * 2.8;
               margin-bottom: $base-margin * 1.5;

               @include media-breakpoint-down-md {
                  font-size: $base-font-size * 2.5;
               }
            }

            &-meta {
               margin-bottom: $base-margin * 1.9;

               ul {
                  margin-bottom: 0;

                  li:not(:first-child) {
                     position: relative;
                     padding-left: $base-padding * 0.4;
                     margin-left: $base-margin * 1.2;

                     &::after {
                        position: absolute;
                        content: '';
                        background: $color-text-light;
                        width: 2px;
                        height: 15px;
                        top: 50%;
                        left: -7%;
                        transform: translate(-50%, -50%);
                     }
                  }

                  li p {
                     font-size: $base-font-size;
                     color: $color-text-light;
                     font-family: $font-primary;
                     font-weight: 600;
                     margin-bottom: 0;
                  }
               }
            }
         }

         h3 {
            font-size: $base-font-size * 1.9;
            margin-bottom: $base-margin * 1.5;
            line-height: 43px;
         }

         p {
            font-size: $base-font-size * 1.1;
            margin-bottom: $base-margin * 5;
            line-height: 29px;

            @include media-breakpoint-down-xl {
               margin-bottom: $base-margin * 3.1;
            }
         }

         ul {
            margin-bottom: 0;

            li {
               list-style: decimal;

               &::marker {
                  font-size: $base-font-size * 1.6;
               }

               h4 {
                  font-size: $base-font-size * 1.6;
                  margin: 0 0 $base-margin * 1.25 $base-margin * 0.5;
                  font-weight: 600;
               }

               p {
                  margin-bottom: $base-margin * 3;
                  font-size: $base-font-size * 1.1;
                  font-weight: 500;

                  @include media-breakpoint-down-xl {
                     margin-bottom: $base-margin * 2;
                  }
               }
            }
         }
      }

      .social-icon {
         position: fixed;
         z-index: 999;
         top: 50%;
         left: 2%;

         @include media-breakpoint-down-xxxl {
            left: 1%;
         }

         @include media-breakpoint-down-xxl {
            left: 0%;
         }

         @include media-breakpoint-down-md {
            display: none;
         }

         .icon {
            position: relative;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            margin-bottom: $base-margin;
            display: inline-block;
            z-index: 99;

            svg {
               path {
                  fill: $color-text-light;
               }
            }

            .tooltip {
               position: absolute;
               left: 20px;
               font-size: 10px;
               background: $color-secondary-light;
               color: $color-primary;
               padding: 7px 10px;
               border-radius: 5px;
               box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
               opacity: 1;
               visibility: hidden;
               transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
               width: max-content;
               z-index: -1;
               cursor: pointer;

               &:before {
                  position: absolute;
                  content: '';
                  height: 8px;
                  width: 8px;
                  background: $color-secondary-light;
                  top: 50%;
                  left: 0%;
                  transform: translate(-50%, -50%) rotate(45deg);
                  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
               }
            }

            &:hover {
               svg {
                  path {
                     fill: $color-primary;
                  }
               }

               .tooltip {
                  left: 45px;
                  visibility: visible;
               }
            }
         }
      }
   }

   &-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0px;

      .page-link {
         display: inline-block;
         padding: 20px 27px !important;
         margin: 0px 15px !important;

         font-weight: 600;
         font-size: 20px;

         border-radius: 20px !important;

         &.active {
            background: $color-primary !important;
            border-color: $color-primary !important;
         }

         svg {
            margin-right: -2px;
         }

         &:hover {
            svg {
               g {
                  fill: $color-primary;
               }
            }
         }
      }
   }

   /* start Related Blog Style */
   &-related {
      padding: $base-padding * 7 0 $base-padding * 5;
      background: $color-gray-dark;

      @include media-breakpoint-down-xl {
         padding: $base-padding * 5 0 $base-padding * 0;
      }

      @include media-breakpoint-down-lg {
         padding: $base-padding * 3.1 0 $base-padding * 2;
      }

      h2 {
         margin-bottom: $base-margin * 3;

         @include media-breakpoint-down-lg {
            font-size: $base-font-size * 2.5;
         }
      }
   }
}