/********** 
  18. FAQ Section Styles
**********/
.faq {
  position: relative;
  padding: $base-padding * 0 0 $base-padding * 7.5;
  background: $color-gray-dark;
  @include media-breakpoint-down-xxl {
    padding: $base-padding * 0 0 $base-padding * 5;
  }
  @include media-breakpoint-down-md {
    padding: $base-padding * 0 0 $base-padding * 2;
  }
  .section-header {
    padding-bottom: $base-padding * 5;
    @include media-breakpoint-down-lg {
      padding-bottom: $base-padding * 3;
    }
  }

  &-item {
    width: calc(50% - 32px);
    margin: 0 $base-margin * 0.8;
    @include media-breakpoint-down-md {
      width: calc(100%);
      margin: 0;
    }
    .card {
      transition: all 0.3s ease-in-out;
      padding: $base-padding * 3.7 $base-padding * 3.1 $base-padding * 0.8;
      background: $color-white;
      border-radius: 20px;
      box-shadow: none;
      z-index: 100;
      margin-bottom: $base-margin * 1.9;
      @include media-breakpoint-down-lg {
        padding: $base-padding * 3 $base-padding * 2 $base-padding * 0.8;
      }
      @include media-breakpoint-down-md {
        padding: $base-padding * 2.5 $base-padding * 2 $base-padding * 0;
      }

      &:hover {
        background: $color-secondary;
        box-shadow: 0px 40px 60px rgba(189, 189, 189, 0.25);
      }
      &-title {
        font-size: $base-font-size * 1.6;
        line-height: 32.5px;
        margin-bottom: $base-margin * 1.9;
        padding-right: $base-padding * 5;
        font-weight: 600;
        @include media-breakpoint-down-xxxl {
          padding-right: $base-padding * 2;
        }
        @include media-breakpoint-down-xl {
          padding-right: $base-padding * 0;
        }
        @include media-breakpoint-down-lg {
          font-size: $base-font-size * 1.4;
        }
      }
      &-body {
        padding: 0;
        margin-bottom: $base-margin * 3;
        .card-text {
          font-size: $base-font-size * 1.25;
          color: $color-text-light;
          line-height: 35px;
        }
      }
    }
  }
  // start faq-two section
  &-two {
    padding-bottom: $base-padding * 9.4;
    background: $color-gray-dark;
    @include media-breakpoint-down-xl {
       padding-bottom: $base-padding * 5;
    }
    @include media-breakpoint-down-md {
       padding-bottom: $base-padding * 3;
    }
    .section-header {
       padding-bottom: $base-padding * 4.4;
       @include media-breakpoint-down-sm {
          padding-bottom: $base-padding * 3;
       }
    }
    .shows {
       border: 1px solid $color-anchor;
    }
  }
}
