/**********
  13. Pricing Page and Section Styles
**********/
.pricing,
.pricing-two {
  position: relative;
  margin-top: $base-margin;

  .card {
    transition: all 0.3s ease-in-out;
    padding: $base-padding * 3.9 $base-padding * 0 $base-padding * 3.7;
    background: $color-white;
    border-radius: 20px;
    box-shadow: 0px 0px 80px rgba(150, 0, 0, 0.06);
    z-index: 10;
    border: 1px solid $color-white;

    @include media-breakpoint-down-xl {
      padding: $base-padding * 3 $base-padding * 0 $base-padding * 3.7;
    }

    @include media-breakpoint-down-lg {
      margin: 0 $base-margin * 5 $base-margin * 3.5;
    }

    @include media-breakpoint-down-sm {
      margin: 0 $base-margin * 0 $base-margin * 3.5;
      padding: $base-padding * 3.9 $base-padding * 0 $base-padding * 2.2;
    }

    .card-title {
      font-size: $base-font-size * 1.9;
      font-weight: 700;
      color: $color-text;
      margin-bottom: 8px;
      line-height: 37.5px;
      padding-left: $base-padding * 2.9;
      transition: all 0.3s ease-in-out;

      @include media-breakpoint-down-xl {
        padding-left: $base-padding * 1.5;
      }

      @include media-breakpoint-down-lg {
        padding-left: $base-padding * 2.9;
      }

      @include media-breakpoint-down-md {
        padding-left: $base-padding * 1.5;
      }
    }

    .card-text {
      font-size: $base-font-size * 1.25;
      line-height: 29px;
      margin-bottom: $base-margin * 1.5;
      letter-spacing: -0.5px;
      font-weight: 400;
      font-family: $font-primary;
      padding-left: $base-padding * 2.9;

      @include media-breakpoint-down-xxl {
        font-size: $base-font-size * 1.1;
      }

      @include media-breakpoint-down-xl {
        font-size: $base-font-size * 1;
        padding-left: $base-padding * 1.5;
      }

      @include media-breakpoint-down-lg {
        font-size: $base-font-size * 1.25;
        padding-left: $base-padding * 2.9;
      }

      @include media-breakpoint-down-md {
        padding-left: $base-padding * 1.5;
      }
    }

    .price {
      display: flex;
      position: relative;
      margin-bottom: $base-margin * 3.1;
      transition: all 0.4s ease-in-out;
      color: $color-header;
      border-top: 1px solid $color-anchor-dark;
      border-bottom: 1px solid $color-anchor-dark;

      p {
        margin-bottom: 0;
        padding-left: $base-padding * 2.9;
        font-size: $base-font-size * 2.8;
        font-family: $font-primary;
        font-weight: 700;
        transition: all 0.4s ease-in-out;
        z-index: 2;
        margin-right: $base-margin * 0.8;
        color: #000;
      }

      .discount {
        position: relative;
        display: flex;
        align-items: center;

        p {
          margin: 0;
          padding: 0;
          font-size: $base-font-size * 1.6;
          font-family: $font-primary;
          font-weight: 600;
          transition: all 0.4s ease-in-out;
          z-index: 2;
          color: $color-text-light;
        }

        .vector,
        vector-one {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .vector-one {
          left: 58%;
        }
      }

      .shape-one {
        -webkit-mask-image: url(/images/pricing/shape-one.png);
        mask-image: url(/images/pricing/shape-one.png);
        background: $color-background-effects;
      }

      .shape-two {
        -webkit-mask-image: url(/images/pricing/shape-two.png);
        mask-image: url(/images/pricing/shape-two.png);
        background: $color-background-effects;
      }

      .shape-two,
      .shape-one {
        position: absolute;
        top: 10px;
        z-index: -1;
        left: 10%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        width: 35%;
        height: 100%;
      }
    }

    &-body {
      padding: $base-padding * 0 $base-padding * 2.9;

      @include media-breakpoint-down-xxl {
        padding: $base-padding * 0 $base-padding * 1.9;
      }

      @include media-breakpoint-down-xl {
        padding: $base-padding * 0 $base-padding * 1.5;
      }

      @include media-breakpoint-down-lg {
        padding: $base-padding * 0 $base-padding * 2.9;
      }

      @include media-breakpoint-down-md {
        padding: $base-padding * 0 $base-padding * 2.2;
      }

      ul {
        margin-bottom: $base-margin * 4.5;

        li {
          display: flex;
          align-items: center;
          color: $color-text-light;
          font-size: $base-font-size * 1.25;
          line-height: 33px;
          margin-bottom: $base-margin * 1.9;
          font-weight: 700;
          letter-spacing: -0.4px;
          font-family: $font-secondary;

          i {
            margin-right: $base-margin * 1.1;
            color: $color-primary;

            @include media-breakpoint-down-xl {
              margin-right: $base-margin * 1;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          @include media-breakpoint-down-xl {
            font-size: $base-font-size * 1.1;
          }

          @include media-breakpoint-down-lg {
            font-size: $base-font-size * 1.25;
          }
        }

        .inactive {
          color: $color-deactive;
        }
      }
    }
  }

  .active {
    border: 1px solid $color-primary;

    .card-title {
      color: $color-primary;
    }

    .link {
      a {
        color: $color-white;
        background: $color-primary;
      }
    }
  }

  /* Pricing in Inner Page section */
  &-inner {
    position: relative;
    padding: $base-padding * 14 $base-padding * 0 $base-padding * 27;

    @include media-breakpoint-down-xxl {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 27;
    }

    @include media-breakpoint-down-lg {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 25;
    }

    @include media-breakpoint-down-md {
      padding: $base-padding * 10 $base-padding * 0 $base-padding * 27;
    }

    @include media-breakpoint-down-sm {
      padding: $base-padding * 8.5 $base-padding * 0 $base-padding * 27;
    }

    .section-header {
      padding: 0 0 $base-padding * 1;

      h2 {
        font-size: $base-font-size * 4;
        line-height: 80px;
        margin-bottom: $base-margin * 1.5;

        @include media-breakpoint-down-xl {
          font-size: $base-font-size * 3.9;
        }

        @include media-breakpoint-down-lg {
          font-size: $base-font-size * 3.5;
          line-height: 70px;
        }

        @include media-breakpoint-down-md {
          font-size: $base-font-size * 3;
          line-height: 60px;
        }

        @include media-breakpoint-down-sm {
          font-size: $base-font-size * 2.5;
          line-height: 50px;
        }
      }

      p {
        font-size: $base-font-size * 1.35;
      }
    }
  }

  /* Pricing-two section */
  &-two {
    padding: $base-padding * 3 0 $base-padding * 0.4;
    margin-top: 0;

    &-range {
      position: relative;
      background: $color-white;
      border: 1px solid $color-secondary-dark;
      padding: 60px 90px 40px;
      text-align: center;
      border-radius: 34px;
      margin-top: -26rem;
      margin-bottom: $base-margin * 6.3;
      box-shadow: 0px 0px 80px rgba(150, 0, 0, 0.06);

      @include media-breakpoint-down-md {
        padding: 60px 30px 40px;
      }

      h3 {
        color: $color-text-light;
        font-size: 30px;
        line-height: 37.5px;
        margin-bottom: $base-margin * 6.3;

        @include media-breakpoint-down-xl {
          margin-bottom: $base-margin * 3.3;
        }

        @include media-breakpoint-down-lg {
          margin-bottom: $base-margin * 5.3;
        }

        @include media-breakpoint-down-md {
          margin-bottom: $base-margin * 3.3;
        }

        @include media-breakpoint-down-sm {
          margin-bottom: $base-margin * 2;
        }
      }

      .pricingbuttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 0;

        .pricingbtn {
          background: transparent;
          display: inline-block;
          padding: 15px 30px;
          font-size: 18px;
          border-radius: 12px;
          color: $color-primary;
          text-decoration: none;
          text-transform: capitalize;
          font-family: $font-primary;
          font-weight: 600;
          margin: 0 10px;
          border: 1px solid rgba(229, 59, 42, 0.3);
        }

        .active {
          background: $color-primary;
          color: $color-white;
        }
      }

      .employeenoinfo {
        border-bottom: 1px solid $color-secondary-light;
        padding-bottom: 84px;

        @include media-breakpoint-down-xl {
          padding-bottom: $base-padding * 4.4;
        }

        .employeenocont-one,
        .employeenocont-two {
          position: absolute;
          top: 39%;
          left: 10%;
          font-size: 45px;
          font-family: $font-primary;
          font-weight: 700;
          color: $color-primary;

          @include media-breakpoint-down-md {
            left: 5%;
          }

          @include media-breakpoint-down-sm {
            font-size: 30px;
          }
        }

        .employeenocont-two {
          left: 79%;

          @include media-breakpoint-down-md {
            left: 75%;
          }
        }
      }

      .priceslider.ui-widget.ui-widget-content {
        position: relative;
        border: 4px solid $color-secondary-light;
        background: $color-secondary-light;
        height: 1px;
        width: 68%;
        margin-left: 90px;
        border-radius: 0;

        @include media-breakpoint-down-xl {
          margin-left: 70px;
        }

        @include media-breakpoint-down-md {
          width: 60%;
        }

        @include media-breakpoint-down-sm {
          margin-left: 50px;
        }
      }

      .ui-state-default,
      .ui-widget-content .ui-state-default,
      .ui-widget-header .ui-state-default,
      .ui-button,
      html .ui-button.ui-state-disabled:hover,
      html .ui-button.ui-state-disabled:active,
      html .ui-button.ui-state-disabled:focus {
        border: 1px solid $color-primary !important;
        color: $color-primary !important;
        border-radius: 50px;
        background: $color-primary;
        width: 30px;
        height: 30px;
        top: -16px;
        left: 50%;
      }
    }

    .card {
      margin-bottom: $base-margin * 3.1;
    }
  }

  &-three {
    overflow: auto;
    padding: $base-padding * 2.9 0 $base-padding * 9.4;

    @include media-breakpoint-down-lg {
      padding: $base-padding * 2 0 $base-padding * 5;
    }

    &-gig {
      padding: $base-padding * 3.8 $base-padding * 4.5;
      box-shadow: 0px 0px 80px rgba(150, 0, 0, 0.06);
      border-radius: 20px;

      @include media-breakpoint-down-lg {
        padding: $base-padding * 3 $base-padding * 2 $base-padding * 1.5;
      }

      @include media-breakpoint-down-lg {
        width: 900px;
        overflow-x: scroll;
      }

      @include media-breakpoint-down-md {
        width: 700px;
        overflow-x: scroll;
      }

      .table {
        thead {
          tr {
            border: none;

            th {
              p {
                font-size: $base-font-size * 1.6;
                font-family: $font-primary;
                font-weight: 600;
                text-align: center;
                margin-bottom: 0;
              }

              span {
                font-family: $font-primary;
                font-weight: 600;
                color: $color-primary;
                display: block;
                font-size: $base-font-size * 1.6;
                text-align: center;
              }

              &:first-child {
                p {
                  font-size: $base-font-size * 1.9;
                  text-align: left;
                  margin-bottom: $base-margin * 2.6;

                  @include media-breakpoint-down-sm {
                    margin-bottom: $base-margin * 1.6;
                  }
                }
              }
            }
          }
        }

        tbody {
          tr {
            th {
              padding: 50px 0 20px;
              font-size: $base-font-size * 1.25;
              font-family: $font-primary;
              font-weight: 600;

              @include media-breakpoint-down-sm {
                padding: 30px 0 20px;
              }
            }

            td {
              i {
                color: $color-primary;
                display: block;
                padding: 50px 0 20px;
                text-align: center;

                @include media-breakpoint-down-sm {
                  padding: 30px 0 20px;
                }
              }

              .inactive {
                color: $color-secondary-light;
              }
            }
          }
        }
      }

      .table> :not(:last-child)> :last-child>* {
        border: none;
      }

      .border-none {
        border: none;
        border-color: $color-white;
      }
    }
  }
}

.pricing-inner+.pricing,
.pricing-inner+.pricing-two {
  margin-top: -$base-margin * 21.5;

  @include media-breakpoint-down-md {
    margin-top: -$base-margin * 25;
  }
}