/********** 
  12. Video Section Styles 
**********/
.video {
  position: relative;
  padding-top: $base-padding * 13;
  overflow: hidden;

  @include media-breakpoint-down-xxl {
    padding-top: $base-padding * 8;
  }

  @include media-breakpoint-down-xl {
    padding-top: $base-padding * 4;
  }

  .banner {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      background: $color-primary;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      top: 0;
      left: 0;
      opacity: 0.2;
    }

    .effect-one,
    .effect-two {
      @include media-breakpoint-down-md {
        mask-size: 70%;
        -webkit-mask-size: 70%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }

    .effect-one {
      -webkit-mask-image: url(/images/video/effect-one.png);
      mask-image: url(/images/video/effect-one.png);
      background: $color-background-effects;
      position: absolute;
      top: 54%;
      left: -89px;
      z-index: -1;
      width: 669px;
      height: 339px;

      @include media-breakpoint-down-xl {
        top: 37%;
      }

      @include media-breakpoint-down-lg {
        top: 30%;
      }

      @include media-breakpoint-down-md {
        top: 40%;
      }
    }

    .effect-two {
      -webkit-mask-image: url(/images/video/effect-two.png);
      mask-image: url(/images/video/effect-two.png);
      background: $color-background-effects;
      position: absolute;
      top: -96px;
      right: -80px;
      z-index: -1;
      width: 583px;
      height: 398px;

      @include media-breakpoint-down-lg {
        top: -70px;
      }

      @include media-breakpoint-down-md {
        right: -234px;
      }
    }
  }

  &-iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
  }

  &-icon {
    a {
      position: absolute;
      border: 2px solid $color-primary;
      border-radius: 50%;
      background: $color-primary;
      z-index: 1;
      width: 86px;
      height: 86px;
      outline: none;
      transform: translate(-50%, -50%);
    }

    svg {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      font-size: 30px;
      transform: translate(-50%, -50%);
      margin-left: 2px;
    }
  }

  &-iframe::before,
  &-iframe::after {
    content: '';
    background: $color-white;
    border-radius: 50%;
    position: absolute;
    transform-origin: top left;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
  }

  &-iframe::after {
    width: 110px;
    height: 110px;
    opacity: 0.5;
  }

  &-iframe::before {
    width: 140px;
    height: 140px;
    animation-delay: 1s;
    opacity: 0.4;
  }
}