/********** 
14. Works Section Styles 
**********/
.works {
  padding: $base-padding * 9.4 $base-padding * 0 $base-padding * 3.2;
  overflow: hidden;

  @include media-breakpoint-down-xxl {
    padding: $base-padding * 6 $base-padding * 0 $base-padding * 3.2;
  }

  @include media-breakpoint-down-xl {
    padding: $base-padding * 6 $base-padding * 0 $base-padding * 0;
  }

  @include media-breakpoint-down-lg {
    padding: $base-padding * 4 $base-padding * 0 $base-padding * 0;
  }

  &-content {
    @include media-breakpoint-down-lg {
      padding-bottom: $base-padding * 5;
      text-align: center;
    }

    h2 {
      margin-bottom: $base-margin * 1.5;
      font-size: $base-font-size * 2.8;
      line-height: 56.25px;

      @include media-breakpoint-down-md {
        font-size: $base-font-size * 1.9;
      }
    }

    p {
      font-size: $base-font-size * 1.4;
      font-weight: 500;
      line-height: 36.3px;
      margin-bottom: $base-margin * 3.1;
      width: 80%;

      @include media-breakpoint-down-xxl {
        width: 90%;
      }

      @include media-breakpoint-down-xl {
        width: 100%;
        font-size: $base-font-size * 1.2;
      }

      @include media-breakpoint-down-lg {
        margin-bottom: $base-margin * 1.5;
      }
    }
  }

  &-banner {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      background: $color-primary;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      top: 0;
      left: 0;
      opacity: 0.2;
    }

    .effect {
      -webkit-mask-image: url(/images/works/effect.png);
      mask-image: url(/images/works/effect.png);
      background: $color-background-effects;
      position: absolute;
      top: -96px;
      left: -89px;
      z-index: -1;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-size: contain;
      -webkit-mask-size: contain;
      width: 125%;
      height: 125%;

      @include media-breakpoint-down-xxl {
        width: 120%;
        height: 120%;
      }

      @include media-breakpoint-down-sm {
        top: -75px;
      }
    }

    .video {
      position: relative;

      &-iframe {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
      }

      &-icon {
        a {
          position: absolute;
          border: 2px solid $color-primary;
          border-radius: 50%;
          background: $color-primary;
          z-index: 1;
          width: 86px;
          height: 86px;
          outline: none;
          transform: translate(-50%, -50%);
        }

        svg {
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          font-size: 30px;
          transform: translate(-50%, -50%);
          margin-left: 2px;
        }
      }

      &-iframe::before,
      &-iframe::after {
        content: '';
        background: $color-white;
        border-radius: 50%;
        position: absolute;
        transform-origin: top left;
        animation-name: grow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
      }

      &-iframe::after {
        width: 110px;
        height: 110px;
        opacity: 0.5;
      }

      &-iframe::before {
        width: 140px;
        height: 140px;
        animation-delay: 1s;
        opacity: 0.4;
      }
    }
  }
}