paths:
  static: public
  uploads: public/uploads
data_config:
  blog-tags:
    path: data/blog-tags.json  
collections_config:
  posts:
    path: src/content/blog
    url: "/blog/[slug]/"
    disable_add_folder: true
    _enabled_editors:
      - content
      - visual
    add_options:
      - name: Add New Post
        schema: default
        icon: post_add
    schemas:
      default:
        name: New Post
        path: schemas/post.md
    _inputs:
      title:
        empty_type: string
      image:
        empty_type: string
      image_alt:
        empty_type: string
      author:
        empty_type: string
  pages:
    path: src/content/pages
    url: "/[slug]/"
    icon: wysiwyg
    disable_add_folder: true
    _enabled_editors:
      - visual
    add_options:
      - name: Add New Page
        schema: default
        icon: note_add
    schemas:
      default:
        name: New Page
        path: schemas/page.md
        new_preview_url: "/"
      paginated_collection:
        path: schemas/paginated-collection.md
    _inputs:
      content_blocks:
        empty_type: array
    filter:
      base: strict
  data:
    path: data
    disable_add: true
    disable_add_folder: true
    disable_url: true
    icon: data_usage


collection_groups:
  - heading: Pages
    collections:
      - pages
  - heading: Blogging
    collections:
      - posts
  - heading: Site Settings
    collections:
      - data
      - site_navigation
      - theme_palette

_structures:
  content_blocks:
    style: modal
  features:
    values:
      - value:
          item:
          isActive:
  dropdown: 
    values:
      value:
        dropdown_text:
        dropdown_link:
  social:
    values:
      value:
        link: 
        icon: 
        icon_alt:
  sections:
    values:
      value:
        title:
        links:  
  links:
    values:
      value:
        text: 
        link:
  items:
    values: 
      value: 
        link: 
        text: 
        enable_dropdown:
        dropdown:

_inputs:
  thumb_image.image:
    type: image
    options:
      width: 500
      height: 413
      resize_style: crop
  featured_image.image:
    type: image
    options:
      width: 1296
      resize_style: crop
  layout:
    hidden: true
  date:
    instance_value: now
  title_suffix:
    comment: Added at the end of the title and highlighted in a different color
  page_size:
    type: number
    comment: The number of collection items to list per page
  content:
    type: markdown
  icon:
    type: select
    options:
      values:
        - ph-user-square
  description:
    type: markdown
    options:
      bold: true
      italic: true
      link: true
      removeformat: true
  isActive:
    type: switch
  social[*].icon:
    type: select
    options:
      values:
        - ph-facebook-logo
        - ph-instagram-logo
        - ph-twitter-logo
        - ph-github-logo
        - ph-youtube-logo
  page_description:
    comment: If empty, defaults to the description set in the Site SEO data file 
    type: text 
  canonical_url:
    comment: If empty, defaults to the URL of the page 
    type: text
  featured_image:
    comment: If empty, defaults to the image set in the Site SEO data file
  author_twitter_handle:
    type: twitter
    comment: Defaults to the twitter site value set in the Site SEO data file
  no_index:
    type: checkbox
    comment: When selected this removes the page from your sitemap and adds the noindex robots meta tag
  open_graph_type:
    type: select
    options:
      values: 
        - website
        - article
        - profile
  favicon_icon:
    type: image
    comment: For the shortcut icon meta tag
  favicon_image:
    type: image
    comment: For the icon meta tag
  enable_dropdown:
    type: switch
  dropdown:
    type: array
    options: 
      structures: _structures.dropdown
    label: Dropdown Items
    hidden: "!enable_dropdown"
  dropdown_link:
    type: url
    label: Link
  dropdown_text:
    type: text
    label: Name
  items: 
    type: array 
    options: 
      structures: _structures.items
  logo:
    type: image
  tags:
      type: multiselect
      empty_type: array
      options: 
        values: data.blog-tags
  twitter_site:
    type: twitter
    label: Twitter Username
  logo_url:
      comment: Link for the logo in the top left of the footer
  copyright:
    comment: Automatically prefixed with the current year
  enable_nav_btn:
    type: switch
  nav_btn:
    hidden: "!enable_nav_btn"