/********** 
 1. Default  Styles 
**********/
@use "sass:math";


/* sora-regular - latin */
@font-face {
  font-family: 'Sora';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sora-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('/fonts/sora-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/sora-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/sora-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/sora-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/sora-v10-latin-regular.svg#Sora') format('svg');
  /* Legacy iOS */
}

/* sora-500 - latin */
@font-face {
  font-family: 'Sora';
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/sora-v10-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''), url('/fonts/sora-v10-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/sora-v10-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/sora-v10-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/sora-v10-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/sora-v10-latin-500.svg#Sora') format('svg');
  /* Legacy iOS */
}

/* sora-600 - latin */
@font-face {
  font-family: 'Sora';
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/sora-v10-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''), url('/fonts/sora-v10-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/sora-v10-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/sora-v10-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/sora-v10-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/sora-v10-latin-600.svg#Sora') format('svg');
  /* Legacy iOS */
}

/* sora-700 - latin */
@font-face {
  font-family: 'Sora';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/sora-v10-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('/fonts/sora-v10-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/sora-v10-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/sora-v10-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/sora-v10-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/sora-v10-latin-700.svg#Sora') format('svg');
  /* Legacy iOS */
}

/* space-grotesk-regular - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-grotesk-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/space-grotesk-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/space-grotesk-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/space-grotesk-v12-latin-regular.svg#SpaceGrotesk') format('svg');
  /* Legacy iOS */
}

/* space-grotesk-500 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/space-grotesk-v12-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/space-grotesk-v12-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/space-grotesk-v12-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/space-grotesk-v12-latin-500.svg#SpaceGrotesk') format('svg');
  /* Legacy iOS */
}

/* space-grotesk-600 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/space-grotesk-v12-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/space-grotesk-v12-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/space-grotesk-v12-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/space-grotesk-v12-latin-600.svg#SpaceGrotesk') format('svg');
  /* Legacy iOS */
}

/* space-grotesk-700 - latin */
@font-face {
  font-family: 'Space Grotesk';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/space-grotesk-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/fonts/space-grotesk-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/space-grotesk-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/space-grotesk-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/space-grotesk-v12-latin-700.svg#SpaceGrotesk') format('svg');
  /* Legacy iOS */
}


/*Font */
body {
  font-family: $font-primary;
  font-size: $base-font-size;
  color: $color-text;
  background: $color-white;
  line-height: 1.5;
}

.bg-nav {
  background: rgba($color-secondary, 0.95);

  &.sticky-nav {
    background: $color-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-header;
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

h1 {
  font-size: $base-font-size * 4;
  line-height: 81.25px;
}

h2 {
  font-size: $base-font-size * 2.6;
}

h3 {
  font-size: $base-font-size * 2;
}

h4 {
  font-size: $base-font-size * 1.5;
}

h5 {
  font-size: $base-font-size * 1.25;
}

h6 {
  font-size: $base-font-size * 1;
}

p {
  font-size: $base-font-size;
  color: $color-text;
  font-family: $font-secondary;
  font-weight: $regular-font-weight;
  line-height: 2;
  margin-top: 0;
  margin-bottom: $base-margin;
  letter-spacing: -0.4px;
}

a {
  color: $color-text;
  text-decoration: none;
  display: inline-block;
  transition: $base-transition;

  a:hover {
    color: $color-text;
  }
}

// Learn-more links
.load-mores {
  color: $color-primary;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
}

.next-blog {
  display: none;
}

/********** 
  15. Custom Styles 
**********/

// section-header style
.section-header {
  padding: $base-padding * 9.4 0 $base-padding * 4.1;
  text-align: center;
  position: relative;

  @include media-breakpoint-down-xxl {
    padding: $base-padding * 7 0 $base-padding * 4.1;
  }

  @include media-breakpoint-down-xl {
    padding: $base-padding * 6 0 $base-padding * 4.1;
  }

  @include media-breakpoint-down-sm {
    padding: $base-padding * 3 0 $base-padding * 4.1;
  }

  &.no-top-pad {
    padding-top: 0;
  }

  h2 {
    position: relative;
    font-size: $base-font-size * 4;
    line-height: 81.25px;
    letter-spacing: -0.4px;
    margin-bottom: $base-margin * 1.5;

    span {
      color: $color-primary;
    }

    @include media-breakpoint-down-xxl {
      font-size: $base-font-size * 3.5;
    }

    @include media-breakpoint-down-lg {
      font-size: $base-font-size * 3;
      line-height: 65px;
    }

    @include media-breakpoint-down-md {
      font-size: $base-font-size * 2.5;
      line-height: 1.4;
    }

    @include media-breakpoint-down-sm {
      font-size: $base-font-size * 1.9;
      margin-bottom: $base-margin * 0.6;
      line-height: 37.5px;
    }
  }

  p {
    font-size: $base-font-size * 1.4;
    color: $color-text-light;
    font-weight: $medium-font-weight;
    line-height: 36.3px;
    letter-spacing: -0.4px;
    margin-bottom: 0;

    @include media-breakpoint-down-sm {
      font-size: $base-font-size * 1.1;
      line-height: 29.7px;
      letter-spacing: -0.008px;
    }
  }
}

.feature-bg {
  background: $color-secondary;
}

.pricing-inner {
  background: $color-gray-dark;
}

.pricing-inner-two {
  background: $color-secondary;
}

// 404 page style
.error {
  position: relative;
  background: $color-secondary;

  &-content {
    position: relative;

    h3 {
      color: $color-header;
      font-weight: $bold-font-weight;
    }

    img {
      max-width: 100%;
    }
  }
}

.category {
  display: none;
}

// Learn-more style start
.Learn-more {
  display: flex;
  align-items: center;
  margin-top: $base-margin;

  @include media-breakpoint-down-lg {
    margin-top: $base-margin * 3;
  }

  @include media-breakpoint-down-sm {
    margin-top: $base-margin * 1.25;
  }

  a {
    color: $color-primary;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-primary;
    transition: all 0.3s ease-in-out;

    i {
      margin-left: 10px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: translateY(-5px);

      i {
        margin-left: 15px;
      }
    }
  }
}

/* Cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: $color-white;
  background-clip: border-box;
  border-radius: 0.5rem;
  border: none;
}

/* Accordions */
.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  font-size: $base-font-size * 1.6;
  color: $color-header;
  font-family: $font-primary;
  text-align: left;
  background: $color-gray;
  border: 0;
  font-weight: 600;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;

  @include media-breakpoint-down-lg {
    font-size: $base-font-size * 1.25;
  }

  @include media-breakpoint-down-md {
    font-size: $base-font-size * 1.1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}

.accordion-button:not(.collapsed) {
  padding: 0rem 0rem 0 0rem;
  color: $color-header;
  background: $color-gray;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,%3csvg width="80" height="80" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"%3e%3ccircle cx="20" cy="20" r="20" fill="%23EBEBEB"/%3e%3cpath d="M13.125 20H26.875" stroke="%23383B3F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/%3e%3c/svg%3e');
  transform: rotate(180deg);
}

.accordion-button::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 2.5rem;
  content: "";
  background-image: url('data:image/svg+xml,%3csvg width="80" height="80" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"%3e%3ccircle cx="20" cy="20" r="20" fill="%23EBEBEB"/%3e%3cpath d="M13.125 20H26.875" stroke="%23383B3F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/%3e%3cpath d="M20 13.125V26.875" stroke="%23383B3F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/%3e%3c/svg%3e');
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;

  @include media-breakpoint-down-md {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}

.accordion-button:hover {
  z-index: 2;
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgba(250, 250, 250, 0.52);
  outline: 0;
  box-shadow: none;
}

.accordion-header {
  margin-bottom: 0;

  .header-content {
    position: relative;
    font-size: $base-font-size * 1.6;
    font-weight: 600;
    font-family: $font-secondary;
    margin: $base-margin * 0 $base-margin * 25 $base-margin * 0 $base-margin * 0;
    line-height: 33px;

    @include media-breakpoint-down-xl {
      margin: $base-margin * 0 $base-margin * 5 $base-margin * 0 $base-margin * 0;
    }

    @include media-breakpoint-down-lg {
      margin: $base-margin * 0 $base-margin * 1 $base-margin * 0 $base-margin * 0;
      font-size: $base-font-size * 1.25;
    }

    @include media-breakpoint-down-sm {
      line-height: 25px;
    }
  }
}

.accordion-item {
  position: relative;
  background: $color-gray;
  border-radius: 14px !important;
  margin-bottom: 40px;
  border: 1px solid $color-white;
  padding: 28px 30px 28px 120px;

  @include media-breakpoint-down-lg {
    margin-bottom: 20px;
    padding: 20px 20px 20px 60px;
  }

  span {
    position: absolute;
    display: inline-block;
    left: 40px;
    top: 22px;
    text-align: center;
    width: 49px;
    height: 49px;
    line-height: 49px;
    background: $color-secondary-dark;
    border: 2px solid $color-primary-light;
    border-radius: 50%;
    margin-right: 0px;
    font-size: 20px;
    font-weight: 400;

    @include media-breakpoint-down-lg {
      top: 25px;
      left: 20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }

    @include media-breakpoint-down-sm {
      line-height: 25px;
      top: 20px;
    }
  }
}

.accordion-item:last-of-type {
  margin-bottom: 0;
  border-radius: 0;
}

.accordion-body {
  padding: $base-padding * 1.6 $base-padding * 10 $base-padding * 0 $base-padding * 0;
  font-size: 20px;
  color: $color-text-light;
  letter-spacing: -0.4px;
  line-height: 33px;
  font-family: $font-secondary;

  @include media-breakpoint-down-xl {
    padding: $base-padding * 1.6 $base-padding * 0 $base-padding * 0 $base-padding * 0;
  }
}

.accordion-flush .accordion-collapse {
  border-width: 0;
  border: 1px solid $color-primary;
}

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
  border-top: 0;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

.rounded-box {
  border-radius: 20px;
  overflow: hidden;
}

/* Keyframes for hero pages */
@keyframes grow {
  0% {
    transform: scale(0.9) translate(-50%, -50%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}